{% extends "base.html" %}

{% block head %}
<title>Code</title>
{% endblock %}

{% block content %}
<h1 class="matrix">
    <!-- "target="_blank", open the link in a new tab." -->
    <a href="https://github.com/LegendsAndreas" class="github_link" target="_blank"><u>https://github.com/LegendsAndreas</u></a>
</h1>

<!-- Chess -->
<div class="accordion" id="accordionExample" style="padding-left: 20px; padding-right: 20px;">
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collaps bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h3 class="matrix code-name">Chess</h3>
            <h4 class="code-text">A program that allows you to play Chess in the terminal</h4>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body code-description">
            <p>This right here</p>
            <!-- Pictures -->
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-3 justify-content-evenly">
                <div class="col">
                  <div class="card">
                      <img src="resources\pics\cat1.bmp" alt="cat">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                      <img src="resources\pics\cat1.bmp" alt="cat">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                      <img src="resources\pics\cat1.bmp" alt="cat">
                  </div>
                </div>
              </div>
            </div>
            <!-- End of pictures -->
            <h1 class="code-button-text">
              <a href="https://github.com/LegendsAndreas/Independent-works-of-art/tree/main/food_recipes" target="_blank" class="code-button-style"><i>Min Macro Tracker!</i></a>
            </h1>
          </div>
          <div>
          </div>
        </div>
      </div>

      <!-- food_recipes -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collaps bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h3 class="matrix code-name">Food_recipes</h3>
            <h4 class="code-text">A program that allows you to play Chess in the terminal</h4>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body code-description">
            <p>This right here</p>
            <!-- Pictures -->
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-3 justify-content-evenly">
                <div class="col">
                  <div class="card">
                      <img src="resources\pics\cat1.bmp" alt="cat">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                      <img src="resources\pics\cat1.bmp" alt="cat">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                      <img src="resources\pics\cat1.bmp" alt="cat">
                  </div>
                </div>
              </div>
            </div>
            <!-- End of pictures -->
          </div>
        </div>
      </div>

      <!-- addition_pyramid -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collaps bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h3 class="matrix code-name">addition_pyramid</h3>
            <h4 class="code-text">A simple program that allows you to play with an addition pyramid.</h4>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body code-description">
            <p>This right here</p>
            <!-- Pictures -->
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-3 justify-content-evenly">
                <div class="col">
                  <div class="card">
                      <img src="resources\pics\cat1.bmp" alt="cat">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                      <img src="resources\pics\cat1.bmp" alt="cat">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                      <img src="resources\pics\cat1.bmp" alt="cat">
                  </div>
                </div>
              </div>
            </div>
            <!-- End of pictures -->
          </div>
        </div>
      </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
