{% extends "base.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block content %}
    <div>Thanks to <a href="https://ankeart.gumroad.com/">www.anke-art.de</a>, for letting me use his font ^^.</div>
    <img src="resources\non-cat-pics\20240517_174008.jpg" alt="i" style="border-radius: 50%; width: 300px; display: block; margin-left: auto; margin-right: auto;">
    <h2 style="color: white; padding: 25px;">Hello good sir (or ma'am), welcome to my very own website! I study at Mercantec Viborg, as a Computer Scientist (Datamatiker med speciale i programmering).</h2>
    <h4 style="color: white; padding: 25px;">This sites purpose is to showcase me, both as a person and my ability as a programmer, and as a way to exercise my webprogramming skills. You may also see my cats instead!</h4>
    <iframe src="resources\other\CV, Andreas Østergård Christoffersen, English.pdf" class="pdf" style="display: block; margin-left: auto; padding: 25px;" width="500px" height="750px"></iframe>
{% endblock %}